<table>
 <tr>
  <td><%= attachment_image_tag(@user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
 </tr>
   <tr>
    <td><%= @user.name %></td>
   </tr>
    <tr>
     <td><%=link_to "プロフィール編集", edit_public_user_path(@user) %></td>
</table>


<% if @state.nil? || @state == "end" %>
  <%= form_with(model:@study_time, url:start_time_public_study_times_path,local:true)  do |f| %>
  <%= hidden_field_tag :event, "start" %>
  <%= f.submit 'start' %>
  <% end %>
<% else %>
  <%= form_with(model:@study_time, url:stop_time_public_study_time_path(@study_time),local:true)  do |f| %>
  <%= hidden_field_tag :event, "end" %>
  <%= f.submit 'end' %>
  <% end %>
<% end %>


<% @posts.each do |post| %>
 <p><%= post.post_text %>
<% hour = ((post.study_time.end_time-post.study_time.start_time)/60/60).to_i %>
<% min = (((post.study_time.end_time-post.study_time.start_time)-(hour*60*60))/60).to_i %>
<% sec = ((post.study_time.end_time-post.study_time.start_time)%60).to_i %>
ID:<%=post.study_time.id%>&nbsp;<%=hour%>時間<%=min%>分<%=sec%>秒<br>
　</p>
<% end %>