<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="profile">
                <table>
                    <tr>
                        <td><%= attachment_image_tag(@user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg",class:"icon") %></td>
                    </tr>
                    <tr>
                         <td align="center" style="font-size : 35px;"><%= @user.name %></td>
                    </tr>
                    <tr>
                        <td><%= link_to public_user_followings_path(current_user) do %>
                                フォロー数:<%= @user.followings.count %>
                            <% end %>
                            <%= link_to public_user_followers_path(current_user) do %>
                                &nbsp;&nbsp;フォロワー数:<%= @user.followers.count %>
                            <% end %>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="timebt">
                <% if @state.nil? || @state == "end" %>
                      <%= form_with(model: @study_time, url: start_time_public_study_times_path, local: true )  do |f| %>
                      <%= hidden_field_tag :event, "start" %>
                      <%= f.submit '勉強をはじめる', class:"timebtn" %>
                  <% end %>
                  <% else %>
                      <%= form_with(model: @study_time, url: stop_time_public_study_time_path(@study_time), local: true, method: :patch)  do |f| %>
                      <%= hidden_field_tag :event, "end" %>
                      <%= f.submit '勉強を終了', class:"timebtn" %>
                  <% end %>
                <% end %>
            </div>
            <%= render 'public/relationships/follow_button', user: @user %>
        </div>
        <div class="col-sm-6">
            <%= render 'public/study_times/studytime', study_times: @study_times %>
        </div>
        <div class="col-sm-3">
            <table>
                <tr class="top_search">
                    <td><%= render 'public/searchs/form' %><td>
                </tr>
                <tr>
                    <td align="center"><%= link_to "お問い合わせ", new_contact_path, class: "btn btn-primary contactbtn" %></td>
                </tr>
            </table>
        </div>
    </div>
</div>
