  <div>
    <%= form_with model: @contact, local:true do |f| %>
      <%= f.label :"お名前"%>
       <%= f.text_field :name %>
      <%= f.label :"メールアドレス"%>
       <%= f.email_field :email %>
      <%= f.label :"お問合せ内容"%>
       <%= f.text_area :body %>
    <div>
      <%= f.submit "送信"%>
    </div>
    <% end %>
  </div>