<div class="container">
   <div class="row">
     <div class="col-sm-4">
<table class="status" >
  <th>会員情報</th>
  <tr>
    <td>名前</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>会員情報</td>
      <%if @is_deleted == false%>
        <td>有</td>
      <% else %>
        <td>無</td>
      <%end%>
  </tr>
  <tr>
    <td><%= link_to "会員ステータスの変更", admin_user_withdrawal_path(@user), method: :PATCH, class: "glyphicon glyphicon-tint btn btn-danger" %></td>
  </tr>
</table>
</div>
<div class="col-sm-8">
<table>
<% @study_times.each do |study_time| %>
        <% hour = ((study_time.end_time.to_i-study_time.start_time.to_i)/60/60).to_i %>
        <% min = (((study_time.end_time.to_i-study_time.start_time.to_i)-(hour*60*60))/60).to_i %>
        <% sec = ((study_time.end_time.to_i-study_time.start_time.to_i)%60).to_i %>
          <table class=tweet width="450">
                  <tr>
                    <td><%= attachment_image_tag(study_time.user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg", class:"tweet_icon" )%>&nbsp;&nbsp;
                        <%= study_time.user.name %>&nbsp;&nbsp;
                        <%= study_time.updated_at%>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;&nbsp;<%= study_time.study_method %></td>
                  </tr>
                   <% study_time.photos.each do |photo| %>
                  <tr>
                    <td><%= attachment_image_tag photo, :image, size:'200x150', class:"post_image" %></td>
                  </tr>
                    <% end %>
                  <tr>
                  <tr>
                    <td align="center" class="time">&nbsp;学習時間&nbsp;<%=hour%>時間<%=min%>分<%=sec%>秒&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center" class="learning">&nbsp;学習内容&nbsp;<%= study_time.learning_detail&.detail %></td>
                  </tr>
                  <tr>
                    <td align="center" class="text">使った参考書</td>
                  </tr>
                    <% study_time.study_texts.each do |study_text| %>
                  <tr>
                     <td align="center" class="texts"><%= study_text.name %></td>
                  </tr>
                    <% end %>
                    <td align="center"> <%= link_to admin_study_time_path(study_time.id) do %>コメント
                                        <%=study_time.post_comments.count %>
                                        <% end %>&nbsp;&nbsp;
                    <%= link_to "削除",  admin_study_time_path(study_time.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,class:'delete' %></td>
                  </tr>
          </table>
      <% end %>
      </div>
  </div>
</div>