 <%= form_with model:@user, url:public_user_path(@user), local:true do |f| %>
 <table>
  <tr>
  <td><%= f.label :name %></td>
  <td><%= f.text_field :name %></td>
  </tr>
  <tr>
  <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></td>
  </tr>
  <tr>
  <td><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></td>
  </tr>
  <tr>
   <td><%= f.label :"自己紹介" %></td>
   <td><%= f.text_area :introduction %></td>
  </tr>
  </table>
  <div>
  <%= f.submit "変更を保存" %>
  </div>
  <% end %>