<table>
 <tr>
  <td><%= attachment_image_tag(@user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
 </tr>
   <tr>
    <td><%= @user.name %></td>
   </tr>
    <tr>
     <td><%=link_to "プロフィール編集", edit_public_user_path(@user) %></td>
</table>

<%= form_with model:@study_time, local:true do |f| %>
<%= f.submit 'start' %>
<%end%>

<%= form_with model:@study_time, local:true do |f| %>
<%= f.submit 'stop' %>
<%end%>
