<table>
 <tr>
  <td><%= attachment_image_tag(@user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
 </tr>
   <tr>
    <td><%= @user.name %></td>
   </tr>
    <tr>
     <td><%=link_to "プロフィール編集", edit_public_user_path(@user) %></td>
</table>

<%= @time %>
<%= @timeInteger %>
<%= @timeFloat %>

