<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="prointo">
                    <table>
                        <tr>
                            <td><%= attachment_image_tag(@user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg",class:"icon") %></td>
                        </tr>
                        <tr>
                            <td align="center" style="font-size : 35px;"><%= @user.name%></td>
                        </tr>
                        <tr>
                            <td><%= render 'public/relationships/follow_button', user: @user %></td>
                        </tr>
                        <tr>
                            <td><%= link_to public_user_followings_path(@user) do %>
                                    &nbsp;&nbsp;フォロー数:<%= @user.followings.count %>
                                <% end %>
                                <%= link_to public_user_followers_path(@user) do %>
                                    フォロワー数:<%= @user.followers.count %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" class="introduction"><%= @user.introduction %></td>
                        </tr>
                        <tr>
                            <td align="center"><%=link_to "プロフィール編集", edit_public_user_path(@user), class: "fas fa-user-edit" %></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <%= render 'public/study_times/studytime', study_times: @study_times %>
            </div>
            <div class="col-sm-3">
                <table width="300" border="1" class="rank">
                    <tr>
                        <td><%= @user.name%>さんがよく使う参考書&nbsp;<i class="fas fa-book-reader"></i></td>
                    </tr>
                    <% @study_texts.each do|study_text| %>
                        <tr>
                            <td><%= study_text&.name %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>
